body {
    color: deeppink;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
blockquote {
    background: #ccc;
    padding: 50px 100px;
    color: black;
    font-size: 32px;
    font-style: italic;
    display: inline-block;
}