body {
    color: deeppink;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background: blue;
    display: inline-block;
    padding: 10px 30px;
    color: white;
    font-size: 21px;
}
header small {
    font-size: 14px;
}
blockquote {
    background: #ccc;
    padding: 50px 100px;
    color: black;
    font-size: 32px;
    font-style: italic;
    display: inline-block;
}